In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("CKD.csv")

In [3]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [4]:
#converting categorical to numerical value
dataset=pd.get_dummies(dataset,dtype=int, drop_first=True)

In [5]:
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [6]:
# Independent Variables (Features)
indep = dataset[[
    "age", "bp", "al", "su", "bgr", "bu", "sc", "sod", "pot", "hrmo",
    "pc_normal", "pcc_present", "ba_present", "htn_yes", "dm_yes", "cad_yes",
    "appet_yes", "pe_yes", "ane_yes"
]]

# Dependent Variable (Target)
dep = dataset["classification_yes"]

In [7]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [8]:
from sklearn.naive_bayes import ComplementNB
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix, classification_report

# Define the parameter grid for GridSearchCV
param_grid = {
    'alpha': [0.1, 0.5, 1.0, 1.5, 2.0],  # Smoothing parameter
    'norm': [True, False]  # Whether to normalize the weights
}

# Set up the GridSearchCV object
grid = GridSearchCV(ComplementNB(), param_grid, 
                    refit=True, verbose=3, n_jobs=-1, scoring='f1_weighted')

# Fitting the model for grid search
grid.fit(X_train, y_train)

# To see the best parameters and the best estimator
print("Best Parameters:", grid.best_params_)
print("Best Estimator:", grid.best_estimator_)

Fitting 5 folds for each of 10 candidates, totalling 50 fits
Best Parameters: {'alpha': 0.1, 'norm': False}
Best Estimator: ComplementNB(alpha=0.1)

In [9]:
# Print the best parameters after tuning
print("Best Parameters:", grid.best_params_)

# Store cross-validation results
cv_results = grid.cv_results_
# Uncomment to print all cross-validation results
# print(cv_results)

# print best parameter after tuning 
#print(grid.best_params_) 
re=grid.cv_results_
#print(re)

# Using the final best fit model to test X_test
grid_predictions = grid.predict(X_test)

Best Parameters: {'alpha': 0.1, 'norm': False}

In [10]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, grid_predictions)

In [11]:
print(cm)

[[49  2]
 [14 68]]

In [12]:
# Generate classification report
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, grid_predictions)

In [13]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.78      0.96      0.86        51
           1       0.97      0.83      0.89        82

    accuracy                           0.88       133
   macro avg       0.87      0.90      0.88       133
weighted avg       0.90      0.88      0.88       133

In [14]:
from sklearn.metrics import roc_auc_score

roc_auc_score(y_test,grid.predict_proba(X_test)[:,1])

np.float64(0.9430894308943089)

In [15]:
print(cm)

[[49  2]
 [14 68]]

In [16]:
table=pd.DataFrame.from_dict(re)

In [17]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,param_norm,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.016222,0.005453,0.010061,0.000703,0.1,True,"{'alpha': 0.1, 'norm': True}",0.200200,0.189203,0.206772,0.206772,0.206772,0.201944,0.006860,6
1,0.010734,0.005501,0.011369,0.005098,0.1,False,"{'alpha': 0.1, 'norm': False}",0.835928,0.869709,0.869925,0.907035,0.906705,0.877860,0.026724,1
2,0.007992,0.005145,0.009664,0.003305,0.5,True,"{'alpha': 0.5, 'norm': True}",0.200200,0.189203,0.206772,0.206772,0.206772,0.201944,0.006860,6
3,0.006210,0.001770,0.009145,0.005118,0.5,False,"{'alpha': 0.5, 'norm': False}",0.779609,0.833323,0.869925,0.907035,0.888286,0.855636,0.045144,2
4,0.003321,0.002571,0.015293,0.005994,1.0,True,"{'alpha': 1.0, 'norm': True}",0.200200,0.189203,0.206772,0.206772,0.206772,0.201944,0.006860,6
5,0.008327,0.000625,0.007089,0.002339,1.0,False,"{'alpha': 1.0, 'norm': False}",0.779609,0.833323,0.851225,0.907035,0.869849,0.848208,0.042108,3
6,0.004938,0.001928,0.007304,0.000421,1.5,True,"{'alpha': 1.5, 'norm': True}",0.200200,0.189203,0.206772,0.206772,0.206772,0.201944,0.006860,6
7,0.008334,0.001812,0.007826,0.001487,1.5,False,"{'alpha': 1.5, 'norm': False}",0.779609,0.833323,0.851225,0.888515,0.869849,0.844504,0.037312,4
8,0.006517,0.001059,0.005828,0.003640,2.0,True,"{'alpha': 2.0, 'norm': True}",0.200200,0.189203,0.206772,0.206772,0.206772,0.201944,0.006860,6
9,0.007619,0.004232,0.004286,0.005249,2.0,False,"{'alpha': 2.0, 'norm': False}",0.779609,0.833323,0.851225,0.869925,0.869849,0.840786,0.033469,5